.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@media screen and (-ms-high-contrast: active) and (-ms-high-contrast: none) {
    .container {
    height: 300vh;
    display: -ms-flexbox;
    -ms-flex-direction: column;
    background-color: red;
}
