.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

_:ms-lang(x), .container {
    height: 300vh;
    display: -ms-flexbox;
    -ms-flex-direction: column;
    background-color: red;
}
