.help {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0;
    text-align: center;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40px;
    width:100%;
    font-size: 34px;
    font-weight: 700;
    padding-bottom: -40px;
    padding-left: 40px;
}

hr {
    margin: 10px;
}
.topline {
    margin-bottom: -15px;
}
.bottomline {
    margin-top: -15px;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
    margin-left: 60px;
   /* border: 1px solid black; */
    height: 250px;
    width: 260px;
}

.glyphs {
    display: flex;
    flex-direction: center;
}

img {
    width: 25%;
    height: auto;
}

.svgClass {
    background-color: #e9ebee;
}

.descriptions {
    display: block;
   /* background-color: #e9ebee; */
    height: auto;
    width: auto;
    padding-top: 10px;
    font-size: 13px;
}

.button{
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    background-color:red ;
    color: white;
    padding: 12px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


/* select only middle children */
.help *:not(:first-child):not(:last-child) .button {
    background-color: blue;
}


button:hover {
    background-color: #8b0000;
}

.help *:not(:first-child):not(:last-child) .button:hover {
    background-color: #00008b;
}

