/* Wide */
@media only screen and (min-width: 961px) {
    .help {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding: 0;
        text-align: center;
    }

    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 40px;
        width:100%;
        font-size: 34px;
        font-weight: 700;
        padding-bottom: -40px;
        padding-left: 40px;
    }   

    hr {
        margin: 10px;
    }
    .topline {
        margin-bottom: -15px;
    }
    .bottomline {
        margin-top: -15px;
    }

    .options {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
        /*margin-right: 10px;
        margin-left: 50px; */
        /* border: 1px solid black; */
        height: 250px;
        /* width: 260px; */
        width: 20%;
        background-color: #f1f2f2;
        margin-left: 5px;
    }

    .glyphs {
        display: flex;
        flex-direction: center;
    }

    img {
        width: 25%;
        height: auto;
    }

    .svgClass {
        opacity: 0.4;
        filter: grayscale(10%);;
    }


    .descriptions {
        display: block;
        /* background-color: #e9ebee; */
        height: auto;
        width: auto;
        padding-top: 10px;
        font-size: 13px;
    }

    .button{
        margin-top: 15px;
        border: none;
        border-radius: 8px;
        background-color:#c6b3e1;
        color: white;
        padding: 12px 40px;
        text-decoration: none;
        display: inline-block;
        font-size: 1.25vh;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .help {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding: 0;
    }

    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 40px;
        width:100%;
        font-size: 34px;
        font-weight: 700;
        padding-bottom: -40px;
        padding-left: 40px;
    }

        hr {
            margin: 10px;
        }   
        .topline {
            margin-bottom: 15px;
        }   
        .bottomline {
            margin-top: 15px;
        }
        .options {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            /*margin-right: 10px;*/
            /*         margin-left: 50px; */
            /* border: 1px solid black; */
            height: 100%;
            /* width: 100%; */
            width: 25vh;
            padding: 10px;
            background-color: #f1f2f2;
            margin-left: 10px;
            margin-top: -10px;
            font-size: 1vh;
        }
        .glyphs {
            display: flex;
            flex-direction: center;
        }   
        img {
            width: 55%;
            height: auto;
            margin-bottom: 10px;
        }   

        .svgClass {
            opacity: 0.4;
            filter: grayscale(10%);;
        }   

        .descriptions {
            position: relative;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        .button{
            position: relative;
            margin-top: 5px;
            border: none;
            border-radius: 8px;
            background-color:#c6b3e1;
            color: white;
            padding: 15px 20px;
            text-decoration: none;
            display: inline-block;
            font-size: 1.25vh;
        }


}


@media only screen and (max-width: 575px) {
    .help {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0;
        width: 100%;;
    }

 .title {
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     height: 40px;
     width:100%;;
     font-size: 34px;
     font-weight: 700;
     padding-bottom: -40px;
 }

        hr {
            width: 100%;
        }
        .topline {
            margin-bottom: 15px;
        }
        .bottomline {
            margin-top: 15px;
        }
        .options {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /*margin-right: 10px;*/
            /*         margin-left: 50px; */
            /* border: 1px solid black; */
            /* width: 100%; */
            width: ;
            padding: 10px;
            background-color: #f1f2f2;
            margin-left: 10px;
            margin-right: 10px;
            margin-top: -10px;
            margin-bottom: 25px;
            font-size: 1vh;
        }
        glyphs {
            display: flex;
            flex-direction: center;
        }
        img {
            width: 25%;
            height: auto;
            margin-bottom: 10px;
        }

        .svgClass {
            opacity: 0.4;
            filter: grayscale(10%);
        }
        .descriptions {                                                     
            position: relative;
            margin-top: 5px;
            margin-bottom: 5px;
        }

          .button{
              position: relative;
              width:100%;
              margin-top: 5px;
              border: none;
              border-radius: 8px;
              background-color:#c6b3e1;
              color: white;
              padding: 15px 20px;
              text-decoration: none;
              display: inline-block;
              font-size: 1.25vh;
          }
    }


/* select only middle children */
.help *:not(:first-child):not(:nth-child(3)) .button {
    background-color: #ab162b;
}


button:hover {
    background-color: #7a5d94;
}

.help *:not(:first-child):not(:nth-child(3)) .button:hover {
    background-color: #8b0000;
}

