@media only screen and (max-width: 575px) {
    .latestPosts {
        text-align: center;
        width: 100%;
        height: 10%;
    }
    .eventButton {
        border:5px solid #8b0000;
        border-radius: 25px;
        padding: 5px 10px;
        margin-top: 130px;
        margin-left: 5px;
        color: #8b0000;
        font-weight: 600;
        transition: ease 0.2s;
        cursor: pointer;
    }


}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .latestPosts {
        text-align: center;
        width: 100%;
        height: 10%;
    }
    .eventBanner {
        background-position: center center;
        margin: 0 auto;
        height: auto;
        width: 50%;
    }
    .eventButton {
        border: 5px solid #8b0000;
        border-radius: 35px;
        padding: 10px 10px;
        margin-top: 120px;
        margin-left: 5px;
        color: #8b0000;
        font-weight: 500;
        cursor: pointer;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .latestPosts {
        text-align: center;
        width: 100%;
        height: 10%;
    }
    .eventBanner {
        margin: 0 auto;
        height: auto;
        width: 41%;
        margin-bottom: 30px;
    }
    .eventButton {
        border: 5px solid #8b0000;
        border-radius: 35px;
        padding: 10px 10px;
        margin-top: 120px;
        margin-left: 5px;
        color: #8b0000;
        font-weight: 500;
        cursor: pointer;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .latestPosts {
        text-align: center;
        width: 100%;
        height: 10%;
    }
    .eventBanner {
        margin: 0 auto;
        width: 41%;
        height: 250px;
        margin-bottom: 30px;
    }
    .eventButton {
        border: 5px solid #8b0000;
        border-radius: 35px;
        padding: 10px 20px;
        margin-top: 130px;
        margin-left: 10px;
        color: #8b0000;
        transition: ease 0.2s;
        cursor: pointer;
    }

}

@media only screen and (min-width: 1200px) {
    
    .latestPosts {
        text-align: center;
        width: 100%;
        height: 10%;
    }
    .eventBanner {
    margin: 0 auto;
    width: 41%;
    height: 350px;
    margin-bottom: 30px;
}
    .eventButton {
        border-radius: 35px;
        border: 5px solid #8b0000;
        padding: 10px 20px;
        margin-top: 130px;
        margin-left: -10px;
        color: #8b0000;
        font-weight: 600;
        transition: ease 0.2s;
        cursor: pointer;
    }
    _:ms-lang(x), .latestPosts {
    }
}

.eventBanner {
    background-image: url("./Crisis_to_Hope_Link.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin: 0 auto;*/
    /*margin: 0 20px 0 20px;*/
    max-width:100%;
    height: 250px;
    background-color: #dfe3ee;
}
.eventButton:hover {
    background-color: #8b0000;
    color: #fff;
}
.eventBanner a {
    text-decoration: none;
}
