@media only screen and (max-width: 575px) {
    .latestPosts {
        text-align: center;
        width: 100%;
        height: 10%;
    }


}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .latestPosts {
        text-align: center;
        width: 100%;
        height: 10%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .latestPosts {
        text-align: center;
        width: 100%;
        height: 10%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .latestPosts {
        text-align: center;
        width: 100%;
        height: 10%;
    }

}

@media only screen and (min-width: 1200px) {
    .latestPosts {
        text-align: center;
        width: 100%;
        height: 10%;
    }
    _:ms-lang(x), .latestPosts {
    }
}

.eventBanner {
    background-image: url("./LegacyOfHopeInvitation.png");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width:41%;
    height: 250px;
    background-color: #dfe3ee;
}
