:root {
  --nav-item-padding: 0.5rem;
}

span.icon > img {
    opacity: 0.4;
    filter: grayscale(10%);
    height: 32px;
    width: auto;
}

@media only screen and (min-width: 1200px) {
    span.text {
        display: inline-block;
    }
    span.icon {
        display: none;
    }
    .header {
        position:absolute;
        height: 82px;
        width: 100%;
        left: 0;
        right: 0;
        background-color: #fff;
        color: #696969;
        padding: 5px;
    }
    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: calc(var(--maxWidth) + (var(--nav-item-padding) * 2));
        margin: 0 auto;
        width: 100%;
        padding: 0;
        line-height: 2rem;
    }

    .navPart1, .navPart2 {
        display: flex;
        flex-direction: row;
    }
    .navPart1 {
        padding: 5px;
        height: 50%;
        width: 50%;
        margin-left: 2.5%;
    }

    .navPart1  img {
        height: auto;
        width: 130px;
    }
    .navPart2 {
        margin-top: 1.5em;
        width: 50%;
        margin-right: -2%;
    }
    .navPart2 > a {
        white-space: nowrap;
        margin-right: 15px;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    span.text {
        display: inline-block;
    }
    .icon {
        display: none;
    }
    
    .header {
      position: absolute;
      height: 82px;
      width: 100%;
      left: 0;
      right: 0; 
      background-color: #fff;  /* edit */
      color: #696969;
      padding: 5px;
      /* color: var(--colorNeutralLight); */
    }

    .nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      max-width: calc(var(--maxWidth) + (var(--nav-item-padding) * 2));
      margin: 0 auto;
      width: 100%;
      padding: 0;
      line-height: 2rem;
    }


    .navPart1,
    .navPart2 {
      display: flex;
      flex-direction: row;
    }

    .navPart1 {
        padding: 5px;
        height: 50%;
        width:50%;
        margin-right: 5px;
        margin-left: 18px;
    }
    .navPart1 img {
        height: auto;
        width: 130px;
    }
    .navPart2 {
        margin-top: 1.5em;
        width: 50%;
        margin-right: 40px;
        margin-left: 10px;
    }
    .navPart2 > a {
        white-space: nowrap;
        margin-right: 15px;
    }

    .link {
        display: flex;
        align-items: center;
        padding: 0 var(--nav-item-padding);
        color: inherit;
        text-decoration: none !important;
        opacity: 0.6;
        transition: 0.4s all;
        border-bottom: 1px solid transparent;

        &:hover,
        &:focus {
            color: inherit;
            opacity: 1;
            /* edit */
            /* border-bottom-color: var(--colorNeutralLight); */
        }
    }

    .link svg {
        fill: currentColor;
        opacity: 0.5;
        margin-right: 0.5rem;
        width: 14px;
        height: 14px;
        vertical-align: middle;
    }
}

 @media only screen and (min-width:768px) and (max-width: 991px) {
    span.text {
        display: inline-block;
    }
    span.icon {
        display: none;
    }
     
    .header {
       position:fixed;
       height: 72px;
       width: 100%;
       left: 0;
       right: 0;
       background-color: #fff;  /* edit */
       color: #696969;
       padding: 5px;
       z-index: 9999;
       /* color: var(--colorNeutralLight); */
   }
   .nav {
       display: flex;
       flex-direction: rown;
       margin: 0 auto;
       width: 100%;
   }
   .navPart1,
   .navPart2 {
       display: flex;
       flex-direction: row;
   }

    .navPart1 {
        padding: 5px;
        width: 40%;
    }   
    .navPart1  img {
        height: auto;
        width: 130px;
    }   
    .navPart2 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 60%;
        margin-right:3.5%;
    }

   .navPart2  a {
       white-space: nowrap;
       display: flex;
       justify-content: center;
       align-items: center;
       height: 100%;
       padding: 14px;
   }
   .link {
       display: flex;
       align-items: center;
       padding: 0 var(--nav-item-padding);
       color: inherit;
       text-decoration: none !important;
       opacity: 0.6;
       transition: 0.4s all;
       border-bottom: 1px solid transparent;
             
       &:hover,
       &:focus {
           color: inherit;
           opacity: 1;
           /* edit */
       }
    }

    .link svg {
        fill: currentColor;
        opacity: 0.5;
        margin-right: 0.5rem;
        width: 14px;
        height: 14px;
        vertical-align: middle;
    }
}



 @media only screen and (min-width: 576px) and (max-width: 767px) {
    span.text {
        display: none;
    }
    span.icon {
        display: inline-block;
    }
    .header {
        position: fixed;
        display: flex;
        height: 82px;
        width: 100%;
        left: 0;
        right: 0;
        background-color: #fff;  /* edit */
        color: #696969;
        padding: 5px;
        z-index: 99;
        /* color: var(--colorNeutralLight); */
    }
    .nav {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        width: 100%;
    }
    
    .navPart1,
    .navPart2 {
        display: flex;
        flex-direction: row;
    }
    .navPart1 {
        padding: 5px;
        height: 100%;
        width: 50%;
        margin-left: 30px;
    }
    .navPart1  img {
        width: 50%;
    }
    .navPart2 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 50%;
        font-size: 20%;
    }
    .navPart2  a {
        white-space: nowrap;
    }
    
    .link {
        display: flex;
        align-items: center;
        padding: 0 var(--nav-item-padding);
        color: inherit;
        text-decoration: none !important;
        opacity: 0.6;
        transition: 0.4s all;
        border-bottom: 1px solid transparent;

        &:hover,
        &:focus {
            color: inherit;
            opacity: 1;
            /* edit */
        }
    }
    .link svg {
        fill: currentColor;
        opacity: 0.5;
        margin-right: 0.5rem;
        width: 14px;
        height: 14px;
        vertical-align: middle;
    }


 } 
 @media only screen and (max-width: 575px) {
     span.text {
         display: none;
     }
    span.icon {
        display: inline-block;    
    }
    .header {
        position: fixed;
        display: flex;
        height: 82px;
        width:100%;
        left: 0;
        right:0;
        background-color: #fff;
        padding: 5px;
        z-index:99;
    }
    .nav {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        width: 100%;
    }

    .navPart1 {
        width: 40%;
    }

    .navPart1  img {
        width: 130px;
        margin: 5px;
    }
    .navPart2 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        width: 60%;
        font-size: 10%;
    }
    .navPart2 a {
        display: flex;
        justify-content: center;
        align-items:center;
        height: 100%;
        width: 50px;
        padding: 10px;
        margin-top: 5px;
        /*border: 1px solid black;*/
        border-left: thick solid #f7f7f7;
    }

    .navPart2 *:last-child {
        border-style: none;
    }


}
