.list {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0 0 180px 0;
  background-color: red;
}

/*@media only screen and (max-width:575px) {}
@media only screen and (min-width: 576px) and (max-width: 767px) {}
@media only screen and (min-width: 768px) and (max-width: 991px) {}
@media only screen and (min-width: 992px) and (max-width: 1199px) {}
@media only screen and (min-width: 1200px) {}*/
