@media only screen and  (max-width: 575px) {
    .title {
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;
    }

    h2.subtitle {
        font-weight: 500;
        font-size: 150%;
        color: #c6b3e1;
        margin-left: 10px;
    }

    .holder {
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;
        height: 100%;
        width: 100%;
        /*background-color: #dfe3ee;*/
        margin: 30px 0 20px 0;
    }
    .options {
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;
        flex-direction: row;
        -webkit-flex-direction: row;
        text-align: left;
        /*background-color: #f7f7f7;*/
        height: 200px;
        width: 100%;
        margin: 25px 15px 60px 15px;
        padding: 20px;
        border-bottom: 0.25px solid #dfe3ee;
    }
    .description {
        position: relative;
        width: 100%;
        padding: 0 10px 80px 10px;
        margin: -15px 0 15px 0;
    }
    .imgs {
        width: 20%;
        height: auto;
    }

    .topics {
        margin-right: 55px;
    }

}
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .title {
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;
    }
   h2.subtitle {
       font-weight: 500;
       font-size: 150%;
       color: #c6b3e1;
   }
    .holder {
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;
        height: 600px;
        width: 100%;
        /*background-color: #dfe3ee;*/
        margin-bottom: 180px;
    }
    .options {
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;
        flex-direction: row;
        -webkit-flex-direction: row;
        text-align: left;
        /* background-color: #f7f7f7; */
        height: 200px;
        width: 100%;
        margin: 5px 15px -25px 15px;
        padding: 20px;
        border-bottom: 0.25px solid #dfe3ee;
    }
    .imgs {
        width: 10%;
        height: auto;
    }
    .topics {
        margin-right: 55px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .title {
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;
    }
   
    h2.subtitle {
        font-weight: 500;
        font-size: 150%;
        color: #c6b3e1;
    }
    .holder {
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;
        height: 600px;
        width: 100%;
        /* background-color: #dfe3ee; */
        margin-bottom: 180px;
    }
    .options {
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;
        flex-direction: row;
        -webkit-flex-direction: row;
        /*background-color: #f7f7f7;*/
        height: 200px;
        width: 100%;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 15px;
        padding: 20px;
        border-bottom: 0.25px solid #dfe3ee;
    }
    .imgs {
        width: 10%;
        height: auto;
    }
    .topics {
        margin-right: 65px;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .title {
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-algin-items: center;
    }
    h2.subtitle {
        font-weight: 500;
        font-size: 150%;
        color: #c6b3e1;
    }
    .holder {
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        justify-content: center;
        -wbekit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;
        height: 600px;
        width: 100%;
        /*background-color: #dfe3ee; */
        margin-bottom: 180px;
    }
    .options {
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;
        flex-direction: row;
        -webkit-flex-direction: row;
        text-align: left;
        /* background-color: #f7f7f7; */
        height: 200px;
        width: 100%;
        margin: 15px 15px 0 15px;
        padding: 20px;
        border-bottom: 0.25px solid #dfe3ee;
    }
    .imgs {
        width: 10%;
        height: auto;
    }
    .topics {
        margin-right: 65px;
    }
}
@media only screen and (min-width: 1200px) {
    .title {
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;
    }
   h2.subtitle {
        font-weight: 500;
        font-size: 150%;
        color: #c6b3e1;
    }
    .holder {
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;
        height: 500px;
        width: 100%;
        /*background-color: #dfe3ee;*/
        margin-bottom: 180px;
    }
    .options {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        text-align: left;
        /* background-color: #f7f7f7;*/
        height: 75%;
        width: 100%;
        margin: 5px 15px -10px 15px;
        padding: 20px;
        border-bottom: 0.25px solid #dfe3ee;
    }
    .imgs {
        width: 10%;
        height: auto;
    }

    .topics {
        margin-right: 65px;
    }
}

.holder *:nth-child(2) h2.subtitle {
    color: #ab162b;
}

.holder *:nth-child(3) {
    border-bottom: none;
}
