
@media only screen and (min-width: 1200px) {

    .footer {
        display: flex;
        display: -webkit-flex;
        flex-direction: row;
        -webkit-flex-direction: row;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;
        background-color: #f1f2f2;
        height: 300px;
        width: 100%;
        padding: 15px 0 0 0;
    }
    .footerItems {
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;
        width: 50%;
        height: 100%;
        margin: -10px 120px 0 0px;
    }
    .footText {
        position: relative;
        width: 200px;
        white-space: nowrap;
        margin: 0 20px 0 150px;
    }
    .footText:before {
        content: "Connect with Us";
    }
    .line {
        margin: -45px -40px;
        position: absolute;
        width: 60%;
        background-color: #fff;
    }
    .link {
        display: flex;
        display: -webkit-flex;
        align-items: center;
        -webkit-align-items: center;
        padding: 0;
        color: inherit;
        text-decoration: none !important;
        opacity: 0.6;
        transition: 0.4s all;
        &:hover, 
        &:focus {
            color: inherit;
            opacity: 1;
        }
    }
    .footerItems > .items {
       /* margin-left: 40px;*/
    }
    .accreditation { 
        display: flex;
        display: -webkit-flex;
        justify-content:center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;
        width: 50%;
    }
    .link img {
        width: 66px;
    }

    .socialItems {
        display: inline-flex;
        display: -webkit-inline-flex;
        flex-direction: row;
        -webkit-flex-direction: row;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;
        width: 200px;
        height: 40px;
        padding: 0 30px 0 0;
        margin: 0 5px 0 -25px;
    }
    .socialItem {
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;
        width: 50px;
    }
    .socialItem img {
        width: 40px;
        margin: 0 2px 8px 10px;
    }
    .items {
        white-space: nowrap;
        width: 220px;
        padding: 0 10px 0 10px;
    }

}

@media only screen and (min-width: 991px) and (max-width: 1199px) {

    .footer {
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;
        background-color: #f1f2f2;
        height: 300px;
        width: 100%;
        padding-top: 15px;
    }
    .footerItems {
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: left;
        -webkit-align-items: left;
        width: 50%;
        height: 100%;
        margin: -10px -30px 0 10px;
    }
    .footText {
        position: relative;
        width: 200px;
        white-space: nowrap;
        margin: 0 20px 0 150px;
    }
    .footText:before {
        content: "Connect with Us";
    }
    .line {
        margin: -45px -40px;
        position: absolute;
        width: 90%;
        background-color: #fff;
    }
    .link {
        display: flex;
        display: -webkit-flex;
        align-items: left;
        -webkit-align-items: left;
        padding: 0;
        color: inherit;
        text-decoration: none !important!;
        opacity: 0.6;
        transition: 0.4s all;
        &:hover,
        &:focus {
            color: inherit;
            opacity: 1;
        }
    }

    .footerItems > .items {
        /*margin-left: 40px; */
    }
    .accreditation {
        display: flex;
        display: -webkit-flex;
        justify-content: flex-end;
        -webkit-justify-content: flex-end;
        align-items: center;
        -webkit-align-items: center;
        width: 50%;
    }
    .accreditation img {
        margin: 0 20px 0 0;
    }
    .link img {
        width: 66px;
    }

    .socialItems {
        display: flex;
        display: -webkit-flex;
        flex-direction: row;
        -webkit-flex-direction: row;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;
        width: 200px;
        height: 40px;
        padding: 0 30px 0 0;
        /*margin: 10px -25px 0 70px;*/
        margin: 0 5px 0 -5px;
    }
    .socialItem {
        display: flex;
        display: -webkit-flex;
        flex-direction: row;
        -webkit-flex-direction: row;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;
        width: 50px;
    }
    .socialItem img {
        width: 40px;
        margin: 0 2px 8px 10px;
    }
    .items {
        white-space: nowrap;
        width: 220px;
        padding: 0 10px 0 10px;
    }
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer {
        display: flex;
        display: -webkit-flex;
        flex-direction: row;
        -webkit-flex-direction: row;
        justify-content: center;
        -webkit-justify-content: center;
        background-color: #f1f2f2;
        height: 300px;
        width: 100%;
        padding-top: 15px;
    }

      .footerItems {
          display: flex;
          display: -webkit-flex;
          flex-direction: column;
          -webkit-flex-direction: column;
          justify-content: center;
          -webkit-justify-content: center;
          align-items: left;
          -webkit-align-items: left;
          width: 50%;
          height: 100%;
          margin: -10px -30px 0 10px;
      }
      .footText {
          position: relative;
          width: 200px;
          white-space: nowrap;
          margin: 0 20px 0 150px;
      }
      .footText:before {
          content: "Connect with Us";
      }

      .line {
          margin: 92px -5px;
          position: absolute;
          height: 1px;
          width: 93%;
          background-color: #fff;
      }

      .link {
          display: flex;
          display: -webkit-flex;
          align-items: center;
          -webkit-align-items: center;
          padding: 0;
          color: inherit;
          text-decoration: none !important;
          opacity: 0.6;
          transition: 0.4s all;
          &:hover,
          &:focus {
              color: inherit;
              opacity: 1;
          }
      }

      .footerItems > .items {
          /*margin-left: 10px; */
      }   
    
      .accreditation {
          display: flex;
          display: -webkit-flex;
          justify-content: flex-end;
          -webkit-justify-content: flex-end;
          align-items: center;
          -webkit-align-items: center;
          width: 50%;
      }
      .accreditation img {
          margin: 0 20px 0 0;
    }
      .link img {
          width: 66px;
      } 
      .socialItems {
          display: flex;
          display: -webkit-flex;
          flex-direction: row;
          -webkit-flex-direction: row;
          justify-content: center;
          -webkit-justify-content: center;
          align-items: center;
          -webkit-align-items: center;
          width: 200px;
          height: 40px;
          padding: 0 30px 0 0;
          /*padding: 0 10px 0 10px; */
          margin: 0 5px 0 -5px;
      }
      .socialItem {
          display: flex;
          display: -webkit-flex;
          flex-direction: row;
          -webkit-flex-direction: row;
          justify-content: center;
          -webkit-justify-content: center;
          align-items: center;
          -webkit-align-items: center;
          width: 50px;
      }
      .socialItem img {
          width: 40px;
          margin: 0 2px 8px 10px;
      }
      .items {
          white-space: nowrap;
          width: 220px;
          padding: 0 10px 0 10px;
          /*margin: 0 325px 0 -265px;*/
      }
}


@media only screen and (min-width: 576px) and (max-width: 767px){

    .footer {
          display: flex;
          display: -webkit-flex;
          flex-direction: row;
          -webkit-flex-direction: row;
          justify-content: center;
          -webkit-justify-content: center;
          align-items: center;
          -webkit-align-items: center;
          background-color: #f1f2f2;
          height: 300px;
          width: 100%;
          padding-top: 15px;
          font-size: 50%;
          left: 0;
          right: 0;
          margin-top: 40px;
    }
    .socialItems {
        display: inline-flex;
        display: -webkit-inline-flex;
        flex-direction: row;
        -webkit-flex-direction: row;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;
        width: 30%;
        height: 40px;
        margin: 10px -20px 0 20px;
    }
    .socialItem {
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;
        width: 40px;
        height: 32px;
        margin: 0 2px 0 2px;
    }
    .socialItem img {
        width: 32px;
        margin: 0 0 -8px 0;
    }
    .footerItems {
        display: flex;
        display: -webkit-flex;
        justify-content: flex-start;
        -webkit-justify-content: flex-start;
        align-items: flex-start;
        -webkit-align-items: flex-start;
        flex-direction: column;
        -webkit-flex-direction: column;
        width: 50%;
        height: 100%;
        margin: -10px 90px 0 10px;
    }
    .link {
        display: flex;
        display: -webkit-flex;
        align-items: center;
        padding: 0;
        color: inherit;
        text-decoration: none !important;
        opacity: 0.6;
        transition: 0.4s all;
        &:hover,
        &:focus {
            color: inherit;
            opacity: 1;
        }
    }
    
    .footerItems > .items {
        margin-left: 20px;
        margin-right: 10px;
    }

    .link img {
        width: 66px;
    }
    .accreditation {
        margin: 0 10px 0 90px;
    }
}

@media only screen and (max-width: 575px) {
    .footer {
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;
        height: 300px;
        width: 100%;
        margin-top: 40px;
        left: 0;
        right: 0;
        background-color: #f1f2f2;
        font-size: 50%;
    }
    .socialItems {
        position: relative;
        display: inline-flex;
        display: -webkit-inline-flex;
        flex-direction: row;
        -webkit-flex-direction: row;
        justify-content: flex-start;
        -webkit-justify-content: flex-start;
        align-items: center;
        -webkit-align-items: center;
        width: 100%;
        height: 40px;
        margin: 0 0 0 -2px;

    }
    .socialItem {
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;
        width: 40px;
        height: 32px;
        margin: 0 0 0 0;
    }
    .socialItem img {
        width: 32px;
        margin: 0 0 -8px 0;
    }
    .footerItems {
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        -webkit-justify-content: center;
        flex-direction: column;
        -webkit-flex-direction: column;
        height: 100%;
        width: 100%;
        margin: 0 10px 0 10px;
    }

    .link img {
        width: 66px;
    }

    .accreditation {
        margin: 0 10px 0 -50px;
    }
    .items {
        white-space: nowrap;
        width: 20%;
    }

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .footer {
        background-color: #f1f2f2;
        background-color: #7a5d95;
        background-color: #482864;
        color: #fff;
    }
}
