@media only screen and  (max-width: 575px) {
    .title {
        display: flex;
        display: -webkit-flex;
        justify-content: left;
        -webkit-justify-content: left;
        align-items: left;
        -webkit-align-items: left;
        margin: -10px 0 -20px 25px;
    }

    h2.subtitle {
        font-weight: 500;
        font-size: 150%;
        color: #c6b3e1;
        margin: 20px 20px -5px 0;
    }

    .holder {
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        justify-content: left;
        -webkt-justify-content: left;
        align-items: left;
        -webkit-align-items: left;
        height: 100%;
        width: 100%;
        /*background-color: #dfe3ee;*/
        margin: -40px 0 10px -20px;
    }
    .options {
        display: flex;
        display: -webkit-flex;
        justify-content: left;
        -webkit-justify-content: left;
        align-items: left;
        -webkit-align-items: left;
        flex-direction: row;
        -webkit-flex-direction: row;
        /*background-color: #f7f7f7;*/
        width: 100%;
        padding: 30px;
        margin: 2px 15px -10px 15px;
        border-bottom: 0.25px solid #dfe3ee;
    }
    .imgs {
        width: 25%;
        height: auto;
        margin-bottom: 50px;
    }
    .description {
        white-space: wrap;
        width: 100%;
        margin: 15px 10px 1px 0;
    }

    .topics {
        width: 100%;
        margin: -15px 0 -10px 0;
    }

    .address {
        display: flex;
        display: -webkit-flex;
        justify-content: left;
        -webkit-justify-content: left;
        align-items: left;
        -webkit-align-items: left;
        width: 100%;
        margin: 10px 10px -10px 0;
    }
    .mapHolder {
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;
        height: 400px;
        width: 85vw;
        background-color: gray;
        padding: 0 20px 0 20px;
        margin: 15px 10px 1px 0;
        color: white;
        font-weight:700;
    }

}
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .title {
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;
        margin: -10px 0 -20px 25px;
    }
   h2.subtitle {
       font-weight: 500;
       font-size: 150%;
       color: #c6b3e1;
       margin: 20px 20px -5px 0;
   }
    .holder {
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        justify-content: left;
        -webkit-justify-content: left;
        align-items: left;
        -webkit-align-items: left;
        height: 100%;
        width: 100%;
        /*background-color: #dfe3ee;*/
        margin: -40px 0 10px -20px;
    }
    .options {
        display: flex;
        display: -webkit-flex;
        justify-content: left;
        -webkit-justify-content: left;
        align-items: left;
        -webkit-align-items: left;
        flex-direction: row;
        -webkit-flex-direction: row;
        /* background-color: #f7f7f7; */
        width: 100%;
        padding: 30px;
        margin: 2px 15px -10px 15px;
        border-bottom: 0.25px solid #dfe3ee;
    }
    .imgs {
        width: 20%;
        height: auto;
    }
    .description {
        white-space: wrap;
        width: 100%;
        margin: 15px 10px 1px 0;
    }
    .topics {
        margin: -15px 0 -10px 0;
    }
    .address {
        display: flex;
        display: -webkit-flex;
        justify-content: left;
        -webkit-justify-content: left;
        align-items: left;
        -webkit-align-items: left;
        width: 100%;
        margin: 10px 10px -10px 0;
    }

    .mapHolder {
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;
        height: 400px;
        width: 90vw;
        background-color: gray;
        padding: 0 20px 0 20px;
        margin: 15px 10px 1px 0;
        color: white;
        font-weight: 700;
    }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .title {
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;
        margin: -10px 0 -20px 25px;
    }
   
    h2.subtitle {
        font-weight: 500;
        font-size: 150%;
        color: #c6b3e1;
        margin: 20px 20px -5px 0;
    }
    .holder {
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        justify-content: left;
        -webkit-justify-content: left;
        align-items: left;
        -webkit-align-items: left;
        height: 100%;
        width: 100%;
        /* background-color: #dfe3ee; */
        margin: -40px 0 10px -20px;
    }
    .options {
        display: flex;
        display: -webkit-flex;
        justify-content: left;
        -webkit-justify-content: left;
        align-items: left;
        -webkit-align-items: left;
        flex-direction: row;
        -webkit-flex-direction: row;
        /*background-color: #f7f7f7;*/
        width: 100%;
        padding: 30px;
        margin: 2px 15px -10px 15px;
        border-bottom: 0.25px solid #dfe3ee;
    }
    .description {
        white-space: wrap;
        width: 100%;
        margin: 15px 10px 1px 0;
    }
    .topics {
        margin: -15px 0 -10px 0;
    }
    .address {
        display: flex;
        display: -webkit-flex;
        justify-content: left;
        -webkit-justify-content: left;
        align-items: left;
        -webkit-align-items: left;
        width: 100%;
        margin: 10px 10px -10px 0;
    }
    .mapHolder {
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;
        height: 400px;
        width: 91.9vw;
        background-color: gray;
        padding: 0 20px;
        margin: 15px 10px 1px 0;
        color: white;
        font-weight: 700;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .title {
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;
        margin: -10px 0 -20px 25px;
    }
    h2.subtitle {
        font-weight: 500;
        font-size: 150%;
        color: #c6b3e1;
        margin: 20px 20px -5px 0;
    }
    .holder {
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        justify-content: left;
        -webkit-justify-content: left;
        align-items: left;
        -webkit-align-items: left;
        height: 100%;
        width: 100%;
        /*background-color: #dfe3ee; */
        margin: -40px 0 10px -20px;
    }
    .options {
        display: flex;
        display: -webkit-flex;
        justify-content: left;
        -webkit-justify-content: left;
        align-items: left;
        -webkit-align-items: left;
        flex-direction: row;
        -webkit-flex-direction: row;
        /* background-color: #f7f7f7; */
        width: 100%;
        padding: 30px;
        margin: 2px 15px -10px 15px;
        border-bottom: 0.25px solid #dfe3ee;
    }
    .description {
        white-space: wrap;
        width: 100%;
        margin: 15px 10px 1px 0;
    }

    .topics {
        width: 100%;
        margin: -15px 0 -10px 0;
    }
    .address {
        display: flex;
        display: -webkit-flex;
        justify-content: left;
        -webkit-justify-content: left;
        align-items: left;
        -webkit-align-items: left;
        width: 100%;
        margin: 10px 10px -10px 0;
    }
    .mapHolder {
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;
        height: 400px;
        width: 70vw;
        width: 100%;
        background-color: gray;
        padding: 0 20px;
        margin: 0 auto;
        color: white;
        font-weight: 700;
    }
}
@media only screen and (min-width: 1200px) {
    .title {
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;
        margin: -10px 0 -20px 25px;
    }
   h2.subtitle {
        font-weight: 500;
        font-size: 150%;
        color: #c6b3e1;
        margin: 20px 20px -5px 0;
    }
    .holder {
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        justify-content: left;
        -webkit-justify-content: left;
        align-items: left;
        -webkit-align-items: left;
        height: 100%;
        width: 100%;
        /*background-color: #dfe3ee;*/
        margin: -40px 0 10px -20px;
    }
    .options {
        display: flex;
        display: -webkit-flex;
        justify-content: left;
        -webkit-justify-content: left;
        align-items: left;
        -webkit-align-items: left;
        flex-direction: row;
        -webkit-flex-direction: row;
        /* background-color: #f7f7f7;*/
        width: 100%;
        padding: 30px;
        margin: 2px 15px -10px 15px;
        border-bottom: 0.25px solid #dfe3ee;
    }

    .description {
        white-space: wrap;
        width: 100%;
        margin: 15px 10px 1px 0;
    }
    .topics {
        width: 100%;
        margin: -15px 0 -10px 0;
    }
    .address {
        display: flex;
        display: -webkit-flex;
        justify-content: left;
        -webkit-justify-content: left;
        align-items: left;
        -webkit-align-items: left;
        width: 100%;
        margin: 10px 10px -10px 0;
    }
    .mapHolder {
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;
        height: 400px;
        /*width: 70vw;  */
        width: 100%;
        padding: 0 20px;
        margin: 0 auto;
        color: black;
        font-weight: 700;
        border: 0.25px solid #dfe3ee;
    }
}

.address {
    font-style: italic;
}

.holder *:nth-child(2) h2.subtitle {
    color: #ab162b;
}

.holder *:nth-child(3)  {
    border-bottom: none;
}
